/*!
 * Styles for Mondo Cool Studios
 * Author Kyle Daniel
 */

 /* Custom Font 
 --------------------------------------------------*/
 @font-face {
  font-family: "Futura-Bold"; 
  src: url('Futura-Bold.otf');
} 

/* Navbar 
---------------------------------------------------*/
.mondo-nav-styles {
  background-color: #000000;
}

.navbar-trans {
  background: transparent; 
  padding-bottom: 20px;
}

/* Main Styles
---------------------------------------------------*/
body {
  padding-top: 54px;
  font-family: "Futura-Bold";
  background-image: url('../img/background.jpg');
  color: rgb(240, 240, 227);
}
  
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.mondo-banner {
    margin-top: .65em;
}

.logo {
  height: 400px;
  margin-top: .65em;
}

.banner-logo {
  background-color: #ffffff; 
}

.yt-vid {
  padding-bottom: 30px;
}

.yt-text {
  padding-top: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5em; /* Margin bottom by footer height */
}
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #000000;
}